* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 233, 235);
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
}

.bg-lila{
    background-color: rgb(233, 131, 175) !important;
    color: wheat;
}

.bg-lila-aux{
    background-color: rgb(233, 131, 175) !important;
    color: #a6408b;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover {
    color: #a6408b; 
}
.nav-link{
    color: white;
}

.nav-link:hover {
    color: #a91d84; 
}

.margin-datos{
    margin-top: 100px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.card-title {
    text-align: center;
}

p {
    text-align: center;
}

.imagen {
    text-align: center;
}

.card-group {
    display: flex;
}

footer {
    text-align: center;
    background-color: purple;
    color: white;
}