body {
    background-color: rgb(241, 198, 205);
    font-family: "Monseserrat", sans-serif;
    box-sizing: border-box;
}

.nav {
    background-color: rgb(253, 125, 147);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

.imagen {
    text-align: center;
}

.card-group {
    display: flex;
}

footer {
    text-align: center;
    background-color: rgb(253, 125, 147);
}